include INSTALL	
include INSTALL-INFO-FILES
include LICENSE	
include NEWS	
include README
include README-ROPEMACS
include README_VIRTUALENV
include README_DEVEL.org
include README-AUTOPAIR.org
include ToDo
include byte-compile-directory.sh
include completion/auto-complete-pycomplete.el
include completion/company-pycomplete.el
include completion/pycomplete.el
include completion/pycomplete.py
include completion/test_pycomplete.py
include doc/commands-python-mode.org
include doc/commands-python-mode.rst
include doc/variables-python-mode.org
include doc/variables-python-mode.rst
include extensions/column-marker.el
include extensions/highlight-indentation.el
include python-mode.el
include test/doctest-mode.el
include test/pars-part-output.el
include test/py-bug-numbered-tests.el
include test/py-shell-completion-tests.el
include test/python-executes-test.el
include test/python-mode-ert-tests-1.el
include test/python-mode-ert-tests-2.el
include test/python-mode-test.el
include test/python-mode-tests.sh
